doctype html
html(lang="en")
	head
		title= pageTitle
		link(rel="stylesheet", href="/stylesheets/bootstrap.css")
		link(rel="stylesheet", href="/stylesheets/style_analysis.css")
		script(src="/javascripts/jquery-1.12.3.js")
		script(src="/javascripts/bootstrap.min.js")
		script(src="/javascripts/react.js")
		script(src="/javascripts/react-dom.js")
		script(src="/javascripts/browser.min.js")
		script(type="text/babel", src="/javascripts/analysisApp.js")
	body
		div#content

