extends ./layout.jade

block content
	div.container
		div.row
			div(class="col-md-4 col-md-offset-4")
				h3 Please enter your credentials
				form(action='/users/signin', method='POST', role='form')
					div.form-group
						label Username:
						input(type='text', name='user', class='form-control', placeholder='Username')
					div.form-group
						label Password:
						input(type='password', name='pwd', class='form-control', placeholder='Password')
					div.form-group
						input(type='submit', value='Sign in', class='btn btn-success')

		if errorMessage
			div(class='alert alert-danger')= errorMessage