@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body {
	/*font-family: 'Ubuntu', sans-serif;*/
	font-family: 'Varela Round', sans-serif;
	/*background-image: url('/images/back.jpg');*/
	/*background-repeat: no-repeat;*/
}


.green-header {
	background-color: #70DB93;
	color: #ffffff !important;
	border-bottom: solid 1px #66C485; 
	padding-top: 30px;
	/*box-shadow: 0px 0px 4px #202020;*/
}

.hello {
	color: #ffffff !important;
}

.green-border {
	border: solid 2px #70DB93 !important;
}

.greenish {
	background-color: #70DB93;
	color: #366445;
	border: solid 2px #66C485;  
}

.greenish:hover {
	background-color: #66C485 !important;
	color: #366445 !important;
	border: solid 2px #66C485;  
}
.cont {
	padding-top: 90px;
}
