@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body {
	/*font-family: 'Ubuntu', sans-serif;*/
	font-family: 'Varela Round', sans-serif;
}

.greenish {
	color: #70DB93;
}

.action-btn {
	font-size: 1.0em;
	border: solid 2px;
	border-color: #70DB93;
	margin-bottom: 12px;
}

.myrow {
	overflow: hidden;
}

.left-panel {
	padding-bottom: 10000%;
	margin-bottom: -10000%;
	background: #FFFFFF;
	color: #346343;
	height: 100%;
}
.right-panel {
	overflow: auto;
	min-height: 100vh;
	/*background: #70DB93;/*#E0F4FF;*/*/
	margin-left: -15px;
	margin-right: -15px;
	border-left: solid 2px #70DB93;
}

textarea {
	border: solid 2px #70DB93;
	border-radius: 4px;
	width: 90%;
	padding: 4px;
}

.blueish {
	color: #70DB93;
	font-weight: normal;
}

.logo {
	opacity: 1.0;
	color: #346343;/*#70DB93;*/
	border: none;
	background-color: #FFFFFF;
	font-size: 20px;
	cursor: pointer;
	background: transparent;
	text-shadow: 0px 0px 1px #ccc;
}

.logo:hover {
	background: none;
	color: #346343;
	background-color: #FFFFFF;
	cursor: pointer;
	opacity: 1.0;
	background: transparent;
}
.logo:active, .logo:focus {
	background: none;
	border-style: outset;
	border: none;
	color: #346343;
	opacity: 1.0;
	background: transparent;
}

.profile {
	opacity: 1.0;
	color: #346343;
	border: none;
	background-color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
	margin-right: 16px;
	margin-top: 4px;
	background: transparent;
}
.profile:hover {
	background: none;
	color: #346343;
	background-color: #FFFFFF;
	cursor: pointer;
	opacity: 1.0;
	background: transparent;
}

.headerStyle {
	color: '#FFFFFF';
	padding-left: '16px';
	z-index: 1000;
	background: #70DB93;
	box-shadow: 0px 0px 4px #303030;
}