@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body {
	/*font-family: 'Ubuntu', sans-serif;*/
	font-family: 'Varela Round', sans-serif;
}

.greenish {
	color: #70DB93;
}

.action-btn {
	font-size: 1.0em;
	border: solid 2px;
	border-color: #70DB93;
	margin-bottom: 12px;
}

.right-panel {
	height: 90vh;
	max-height: 90vh;
	overflow-y: scroll;
	overflow-x: hidden;
	background: #FFFFFF;
}

textarea {
	border: solid 2px #70DB93;
	border-radius: 4px;
	width: 90%;
	padding: 4px;
}

.blueish {
	color: #70DB93;
	font-weight: normal;
}

.logo {
	opacity: 1.0;
	color: #70DB93;
	border: none;
	background-color: #FFFFFF;
	font-size: 20px;
	cursor: pointer;
}

.logo:hover {
	background: none;
	color: #70DB93;
	background-color: #FFFFFF;
	cursor: pointer;
	opacity: 1.0;
}
.logo:active, .logo:focus {
	background: none;
	border-style: outset;
	border: none;
	color: #70DB93;
	background-color: #FFFFFF;
	opacity: 1.0;
}

.profile {
	opacity: 1.0;
	color: #5A5A5A;
	border: none;
	background-color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
	margin-right: 16px;
	margin-top: 4px;
}
.profile:hover {
	background: none;
	/*color: #70DB93;*/
	background-color: #FFFFFF;
	cursor: pointer;
	opacity: 1.0;
}