@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body {
	/*font-family: 'Ubuntu', sans-serif;*/
	font-family: 'Varela Round', sans-serif;
}

.blue {
	border: solid 1px blue;
	height: 1080px;
}

body {
	padding-top: 50px;
}

.left-nav {
	margin-top: 20px;
}
.nav-stacked > li > a {
	border-radius: 0px;
	margin-left: -15px;
	margin-right: -15px;
	color: #346343;
	text-align: right;
}

.nav-stacked > .active > a {	
	border-left: solid 4px #70DB93; 
    color: #346343 !important;
    background-color: #70DB93 !important;
}

.green {
	color: #346343 !important;
}
.right-nav {
	margin-left: -15px;
	margin-right: -15px;
	/*margin-top: -20px;*/
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #EEEEEE;
	min-height: 100vh;
}

.disabled-text-ctl,
.disabled-text-ctl:active,
.disabled-text-ctl:focus
 {
 	border-right: 0px;
	border: none;
	box-shadow: none;
	/*text-transform: uppercase;*/
}

.align-right {
	/*border: dotted 1px !important;*/
	margin-right: -15px !important;
	text-align: right;
}